.todoform{
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    width: 500px;
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 0 4px 6px rgb(0,0,0,0.1);
 
}

.modernInput{
    width: 100%;
    border: none;
    color: black;
    font-size: 20px;

}

.modernInput:focus{
    outline: none;

}

.modernButton{
    border: gray;
    display: inline-block;
    border-radius: 7px;
    background-color: aqua;
    box-shadow: 0 4px 6px rgb(0,0,0,0.1);
    margin-top: 10px;
    outline: gray;
    padding: 10px;
    color: grey;
    cursor: pointer;

} 