.item{
    width: 500px;
    cursor: pointer;

}

.itemName{
    font-weight: bold;
    padding: 20px;
    

}

.line{
    border: 1px solid #f4f4f4;
}

.delete{
    float: right;
    border: gray;
    border-radius: 5px;
    background-color: aqua;
    padding: 3px;
    color: grey;
    cursor: pointer;
}
.completed{
    text-decoration: line-through;
}